assets/*
!assets/.gitkeep
protected/runtime/application.xml-*


/protected/vendor/*
!/protected/vendor/pradosoft/
protected/vendor/pradosoft/*
!protected/vendor/pradosoft/prado/
protected/vendor/pradosoft/prado/*
!/protected/vendor/pradosoft/prado/framework/


!protected/vendor/autoload.php
ignorado/
prado-demos/



protected/application.php
protected/Data/*
!protected/Data/Settings.xml
!protected/Data/schema.sql
info.md


